/* Глобальные стили */
:root {
    --color-action: #AE3030;
    --color-secondary: #463c3ce7;
    --color-success: #463c3ce7;
    --color-text-action: #cdbfbf;
    --color-text-secondary: #cdbfbf;
    --color-background: #292828;
    --color-border: #3d3d3d;
    --color-error: #ff4444;
}

body {
    background-color: var(--color-background);
    font-family: Arial, sans-serif;
    color: var(--color-text-action);
    margin: 30px;
    padding: 30px;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}   

.page-container {
    padding: 20px;
}

.content-width {
    max-width: 800px;
}

.page-title {
    margin-bottom: 20px;
}
/* Общие стили для форм */
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.form-container form {
    width: 100%;
    box-sizing: border-box;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-border);
    border-radius: 4px;
    color: var(--color-text-action);
    box-sizing: border-box; 
}

input:focus {
    outline: none;
    border-color: var(--color-success);
}

input[type="date"] {
    color: var(--color-text-action);
    background-color: var(--color-secondary);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
/* Добавляем стили для контейнера кнопок */
.form-buttons {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.form-buttons .button {
    width: 100% !important;
    margin-bottom: 0 !important;
}

.error-message {
    color: var(--color-error);
    font-size: 12px;
    margin-top: -8px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
    color: var(--color-text-action);
}


.exercise-card {
    background-color: var(--color-secondary);
    padding: 15px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s, background-color 0.2s;
}

.exercise-card:hover {
    background-color: var(--color-border);
    transform: translateY(-2px);
}

.exercise-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 15px 0;
}

.exercise-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.exercise-type {
    font-size: 0.8em;
    color: var(--color-text-secondary);
}

/* .container > button:last-child {
    margin-top: 20px;
} */

.add-new-button {
    margin-top: 20px !important;
}
